<div class="list_page">
    <div class="header">
        <h2>系列管理</h2>
        <div class="ctls">
            <a class="btn btn-info" href="#/series/new">新建</a>
        </div>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <form class="form-inline search-form" role="form" ng-submit="searchSeries()">
        <div class="form-group input-group">
            <label for="user" class="input-group-addon">名称</label>
            <input class="form-control" id="user"  ng-model="search.name">
        </div>
        <div class="form-group input-group">
            <label for="phone" class="input-group-addon">英文名称</label>
            <input class="form-control" id="phone"  ng-model="search.en_name">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
    <table class="grid table">
        <thead>
        <tr>
            <td>系列名称</td>
            <td>英文名称</td>
            <td>图片</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="series in seriesList">
            <td>{{series.name}}</td>
            <td>{{series.en_name}}</td>
            <td>
                <img ng-src="{{series.image_url}}" alt="" width="100">
            </td>
            <td>
                <a ng-show="$index" href="javascript:;"  ng-click="changeSort('up', series.id, series.sort, $index)">上移&nbsp;&nbsp;</a>
                <a ng-show="$index !== bigTotalItems-1"href="javascript:;"  ng-click="changeSort('down', series.id, series.sort, $index)">下移&nbsp;&nbsp;</a>
                <a href="#/series/{{series.id}}">编辑</a>&nbsp;&nbsp;
                <a href="javascript:;"  ng-click="deleteSeries(series.id)">删除</a>&nbsp;&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" ng-change="pageChanged()" max-size="maxSize" items-per-page="20" class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
        </pagination>
    </div>
</div>
