<div class="list_page">
    <div class="header">
        <h2>私人定制管理</h2>
        <div class="ctls">
            <a class="btn btn-info" href="javascript:;" ng-click="addProduct()">添加私人定制</a>
        </div>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <form class="form-inline search-form" role="form" ng-submit="searchDesign()">
        <div class="form-group input-group">
            <label for="phone" class="input-group-addon">产品id</label>
            <input class="form-control" id="phone"  ng-model="search.product_id">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
    <table class="grid table">
        <thead>
        <tr>
            <td>id</td>
            <td>产品id</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="design in designList">
            <td>{{design.id}}</td>
            <td>{{design.product_id}}</td>
            <td>
                <a ng-show="$index" href="javascript:;"  ng-click="changeSort('up', design.id, design.sort, $index)">上移&nbsp;&nbsp;</a>
                <a ng-show="$index !== bigTotalItems-1"href="javascript:;"  ng-click="changeSort('down', design.id, design.sort, $index)">下移&nbsp;&nbsp;</a>
                <a href="javascript:;"  ng-click="deleteDesign(design.id)">删除</a>&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" ng-change="pageChanged()" max-size="maxSize" items-per-page="20" class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
        </pagination>
    </div>
</div>
<script type="text/ng-template" id="addProduct.html">
    <div class="modal-header">
        <h3 class="modal-title">添加产品</h3>
    </div>
    <form class="form-inline" role="form" ng-submit="submit()">
        <div class="modal-body">
            <textarea style="width: 100%" class="form-control" name="" id="" cols="30" rows="10"
                      placeholder="请输入产品id" ng-model="design.productIds" />
            </textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="submit">确认</button>
            <button class="btn btn-warning" ng-click="close()" type="button">取消</button>
        </div>
    </form>
</script>

